.vs/
.git/
packages/
/UnitTestProject1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UnitTestProject1/bin/Debug/
!/UnitTestProject1/bin/Debug/allureConfig.json
/UnitTestProject1/obj/
allure-results/
