<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.64.1" targetFramework="net462" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net462" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.7" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.7" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.7" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.9.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.9.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0" targetFramework="net462" />
  <package id="SpecFlow" version="2.3.0" targetFramework="net462" />
  <package id="SpecFlow.Allure" version="2.3.64.1" targetFramework="net462" />
  <package id="SpecFlow.NUnit" version="2.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>